
/*
        Globals
*/
body{
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    width:100vw;
    flex-direction: column;
}
h1{
    margin-top: 0;
}

*{

    font-family: sans-serif;
    color:#01a2ff;
    letter-spacing: .08rem;
}

.content{

    max-width: 1400px;
    width:fit-content;
    padding:0 4rem 0 4rem;
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 1rem auto 1rem auto;
    height:100%;
    
}

input:focus, textarea:focus, select:focus{
    outline: none;}

.background{
    position: absolute;
    top:0;
    width:100%;
    height:200px;
    background-color: aliceblue;
}
/*
        Globals end
*/

.head-container{
    height:150px;
    width:100%;
    display:flex;
    flex-direction: row;
}
.head{
    height:fit-content;
    width:fit-content;
    margin:auto;
    display:flex;
    justify-content: center;
}
.search{
    margin: auto;
    padding-left:3rem;
    margin-left:3rem;
    border-radius:35rem;
    background-color: white;
    height:38px;
}
.search button, input{
    border:none;
    padding:0;
    height:38px;
}
body .search input{
    padding:0;
    height:38;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    outline:none;
    margin-top: -2px;
}
.search button{
    cursor: pointer;
}
.search button, .search img{
    background-color: rgb(48, 158, 231);
    padding:0 1rem 0 1rem;
    border-top-right-radius: 35rem;
    border-bottom-right-radius: 35rem;
}
body .search .fa-search{
    background-color: rgba(255, 255, 255, 0);
    color:white;
    font-size: 1.2rem;
}
.title{
    margin:auto 0 auto 1rem;
    vertical-align: bottom;
    
}
.title h1{
    line-height: 100%;
}
.title p{
    line-height: 0%;
    margin-top:-1rem;
}



#weather-box{
    margin-top:3rem;
}
#icon{
    height:200px;
    width:200px;
}
#temperature{
    font-size: 20rem;
}